#parse("/velocity/layout.vm")
#@mainLayout()
<div class="container-fluid">
    <form id="createIssue" method="post" action="/issues/add">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" name="description">
        </div>
        <input type="submit" class="btn btn-success" value="Save">
    </form>
</div>
#end