#parse("/velocity/layout.vm")
#@mainLayout()
<div class="container-fluid">
    <form id="createIssue" method="post" action="/issues/update/change/$oneIssue.id">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" value="$oneIssue.name" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" name="description" value="$oneIssue.description">
        </div>
        <input type="submit", class="btn btn-secondary", value="Update">
        <a href="/issues/update/delete/$oneIssue.id" class="btn btn-danger">Delete</a>
        <!--<input type="submit" class="btn btn-secondary" value="Update">
        <input type="submit" class="btn btn-danger" value="Delete">-->
    </form>
</div>
#end