#parse("/velocity/layout.vm")
#@mainLayout()
<h2>Принятие Условий</h2>
<p>Следующие Условия использования применяются к использованию вами веб-сайта Trello-like
    (<a href="/">http://t2.sumdu-tss.site</a>). Используя сайт, Вы соглашаетесь с условиями данного соглашения.</p>
<h2>Описание сайта</h2>
<p>Посредством веб-сайта предоставляется доступ к интерактивному учебному продукту, по ведению дефектов программного
    продукта. На веб-сайт, включая любые обновления, усовершенствования, новые функции или новые материалы распространяется
    действие Условий использования</p>
<h2>Использование только в личных и некоммерческих целях</h2>
<p>Вы не имеете права модифицировать, копировать, распространять, пересылать, отображать, публично демонстрировать,
    воспроизводить, публиковать, лицензировать, передавать и продавать какую-либо информацию, программное обеспечение,
    продукты или услуги, полученные через данный сайт</p>
<h2>Пользователь обязан</h2>
<p>Не нарушать работоспособность сайта - не использовать скрипты (программы) для автоматизированного сбора информации
    и/или взаимодействия с веб-сайтом</p>
<h2>Администрация обязуется</h2>
<p>Поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.</p>
#end